html {
	scroll-behavior: smooth;
}

.products-section {
    width: 100%;
}
.products-line {
    display: flex;
}
.title-season {
    color: white;
    text-align: center;
    font-size: 2vw;
    margin-top: 10%;
}
.products-part {
    width: 54.17vw;
    background-color: black;
    margin-bottom: 4vh;
    display: inline-block;
    text-align: center;
    padding: 0 5.2vw;
}
.line {
    width: 6.25vw;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 1px solid white;
    margin: 40px 0;
}
.products-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.products-items > div:nth-child(2) {
    margin: 0 20px;
}  
.product-name { 
    color: white;
    font-size: 1.1vw;
    text-align: start;
    margin-top: 1.85vh;
}
.product-price {
    color: white;
    text-align: start;
    margin-top: 1.85vh;
    font-size: 1vw;
}
.new-colaction {
    background: url("../../../public/img/pic1.png") center;
    background-size: cover;
    -webkit-background-size: cover;
    width: 45.83vw;
    padding: 5vw 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.new-colaction-text {
    color: white;
    font-size: 2vw;
}
.catalog-btn {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 0.5vw 1.2vw;
    font-size: 1.2vw;
    cursor: pointer;
}
.catalog-btn > a {
    color: white
}
.catalog-btn:hover, .transition-on-colaction:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: 1s;
}

.pic2 {
    width: 45.83vw;
}
.colaction2018 {
    text-align: center;
    margin-top: 4vh;
}
.colaction-title {
    font-size: 2vw;
}
.colaction-text {
    font-size: 1vw;
    padding: 0 23%;
}
.transition-on-colaction {
    border: 1px solid white;
    background-color: transparent;
    padding: 1vw 2vw;
    color: white;
    margin-top: 50px;
    font-size: 1vw;
    cursor: pointer;
}