.line-reg {
    background: black;
    width: 100%;
    padding: 0 300px;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    height: 40px;
}
.logo {
    width: 5.77vw;
}
.number, .reg-and-sign_in {
    position: relative;
}
.reg-and-sign_in {
    color: gray;
}
.number::before {
    content: url("../../../public/img/call.png");
    width: 13px;
    height: 13px;
    position: absolute;
    left: -25px;
}
.reg-and-sign_in::before {
    content: url("../../../public/img/exit.png");
    width: 13px;
    height: 13px;
    position: absolute;
    left: -25px;
}

.navigation {
    background: #0F0F0F;
    width: 100%;
    padding: 0 19.5vw 0 17.9vw;
    height: 5.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.78vw;
}
.btns-on-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
    position: relative;
}
.link-on-header {
    height: 100%;
    font-size: 14px;
    text-transform: uppercase;
    width: auto;
    color: white;
    background: none;
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link-on-header > a {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link-on-header:hover {
    background: #1F1F1F;
    transition: 1s;
}
.cart {
    width: 22px;
    height: 22px;
    background-size: cover;
    margin: 0 30px;
    cursor: pointer;
}
.search {
    width: 16px;
    height: 16px;
    background-size: cover; 
    cursor: pointer; 
}
.btns-on-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-on-header {
    height: 100%;
    position: relative;
}

.img-with-title {
    height: calc(100vh - 120px);
    max-height: 58vw;
    background: url("../../../public/img/main-pic.png") center;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: center;
    min-height: 700px;
}
.logo-pic {
    margin-top: 10.4vw;
    width: 17vw;
}
.article-about-prd {
    color: white;
    text-transform: uppercase;
    width: 38vw;
    font-size: 0.8vw;
    margin: 0 auto;
    margin-top: 5.2vw;
    line-height: 1.5;
}
@media (max-width: 1600px) {
    .menu-links {
        width: 80%;
    }
}
@media (max-width: 1600px) {
    .logo-pic {
        margin-top: 10vh;
        width: 20vw;
        height: 20vw;
    }
}
@media (max-width: 1430px) {
    .line-reg {
        padding: 0 200px;
    }
    .navigation {
        padding: 0 200px 0 175px;
    }
}
@media (max-width: 1050px) {
    .line-reg {
        padding: 0 100px;
    }
    .navigation {
        padding: 0 100px 0 75px;
    }
}
@media (max-width: 825px) {
    .cart {
        margin: 0 15px;
    }
    .line-reg {
        padding: 0 10px 0 40px;
    }
    .navigation {
        padding: 0 10px 0 15px;
    }
    .article-about-prd {
        width: 450px;
        font-size: 13px;
    }
}
@media (max-width: 650px) {
    .img-with-title {
        min-height: 400px;
    }
    .logo {
        width: 13vw;
    }
    .link-on-head {
        font-size: 10px;
    }
    .cart, .search {
        width: 16px;
        height: 16px;
    }
    .menu-links {
        width: 90%;
    }
}
@media (max-width: 516px) {
    .line-reg {
        font-size: 8px;
    }
    .number::before {
        width: 9px;
        height: 9px;
        left: -20px;
    }
    .reg-and-sign_in::before {
        width: 9px;
        height: 9px;
        left: -20px;
    }
    .article-about-prd {
        font-size: 9px;
        width: 300px;
    }
}
@media (max-width: 480px) {

}
