.formInput {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}
.formErrorText {
    font-size: 13px;
    color: red;
    margin-top: 2px;
}