.img-product-like {
    position: absolute;
    width: 13%;
    top: 15px;
    right: calc(15% + 30px);
    opacity: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-cart {
    position: absolute;
    width: 13%;
    top: 15px;
    right: 25px;
    opacity: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-like-active {
    position: absolute;
    width: 13%;
    top: 15px;
    right: calc(15% + 30px);
    opacity: 0.25;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-added-active {
    position: absolute;
    width: 13%;
    top: 15px;
    right: 25px;
    opacity: 0.25;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-cart-active {
    position: absolute;
    width: 13%;
    top: 15px;
    right: 25px;
    opacity: 0.25;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.product-item {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin: 0 10px;
    height: 22vw;
    width: 12.5vw;
}
.product-item__box {
    height: 100%;
    background-color: #191B1C;
    box-shadow: 3px 2px 5px rgba(152, 152, 152, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-product-item {
    width: 85%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.product-item__box:hover > .img-product-like, .product-item__box:hover > .img-product-cart {
    opacity: 0.4;
}


.product-item__box:hover > .img-product-like-active,
.product-item__box:hover > .img-product-cart-active,
.product-item__box-added:hover > .img-product-added-active {
    opacity: 0.9;
}
.product {
    display: inline-block;
}