.img-product-like {
    position: absolute;
    width: 13%;
    top: 15px;
    right: calc(15% + 30px);
    opacity: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-cart {
    position: absolute;
    width: 13%;
    top: 15px;
    right: 25px;
    opacity: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-like-active {
    position: absolute;
    width: 13%;
    top: 15px;
    right: calc(15% + 30px);
    opacity: 0.25;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-added-active {
    position: absolute;
    width: 13%;
    top: 15px;
    right: 25px;
    opacity: 0.25;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-product-cart-active {
    position: absolute;
    width: 13%;
    top: 15px;
    right: 25px;
    opacity: 0.25;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.product-item {
    position: relative;
    text-align: center;
}
.img-product-item {
    background-color: #191B1C;
    box-shadow: 3px 2px 5px rgba(152, 152, 152, 0.568);
    padding: 5vw 1.15vw;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}