@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400&family=Roboto+Mono:wght@300;400;500;600&display=swap');

.wrapper-liked {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    gap: 5%;
}
.product-item-added {
    text-align: center;
    position: relative;
}
.img-product-liked {
    width: 100%;
    padding: 25% 10%;
    background-color: #191B1C;
}
.nothing-in-liked {
    text-align: center;
    font-size: 40px;
    font-family: 'Phudu', cursive;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -100%);
}
#arrowAnim {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
  }
  
  .arrow {
    width: 25px;
    height: 25px;
    border: 4px solid;
    border-color: white transparent transparent white;
    transform: rotate(-45deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(30px); }	
     20% { opacity:1; transform: translateX(15px); }	
     80% { opacity:1; transform: translateX(-15px); }	
    100% { opacity:0; transform: translateX(-30px); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(30px); }	
     20% { opacity:1; transform: translateX(15px); }	
     80% { opacity:1; transform: translateX(-15px); }	
    100% { opacity:0; transform: translateX(-30px); }	
  }